# no files
*.ipynb
*.pyc
*.v2
nohup.out
events.out.*
kakao*

# directory
/tf/tutorials/dqn/breakout-saves/*
/tf/agents
/tf/tutorials/*
/torch/uvadlc_notebooks/*
/project
/kaggle/*

# except
!/tf/tutorials/dqn

